#table a {
    border-collapse: collapse;
}

#table a {
    border: 1px solid black;
}

#row-1 a {
    border-top: 0;
}

a.left-column {
    border-left: 0;
}

a.right-column {
    border-right: 0;
}

